.checkbox-switch {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.checkbox-switch input {
    opacity: 0;
    position: absolute;
}

.checkbox-switch input + span {
    position: relative;
    display: inline-block;
    width: 2.15em;
    /*width: 1.65em;*/
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #d1d1d1;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.checkbox-switch:active input + span,
.checkbox-switch input + span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.checkbox-switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.25s ease-out;
}

.checkbox-switch:active input + span:after,
.checkbox-switch input + span:active:after {
    width: 0.875em;
    /*width: 1.15em;*/
}

.checkbox-switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #FFA07F;
}

.checkbox-switch input:checked + span:after {
    left: 1.2125em;
    /*left: 0.7125em;*/
}

.checkbox-switch:active input:checked + span:after,
.checkbox-switch input:checked + span:active:after {
    left: 0.4375em;
}

/* accessibility styles */
.checkbox-switch input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
                0 0 0.05em rgba(0,0,0,0.08),
                0 0.1em 0.2em rgba(0,0,0,0.3);
    background: #fff;
}

.checkbox-switch input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #a3a3a3;
}

.checkbox-switch input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #FF7A4B;
}

/* reset accessibility style on hover */
.checkbox-switch:hover input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    background: #fff;
}

.checkbox-switch:hover input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.checkbox-switch:hover input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #FFA07F;
}

/* ios botton use */
.iosbotton-itemText1-len { text-align:right;  padding-right:20px; width:300px;  FONT-SIZE: 10pt; COLOR: #6e6e6e; FONT-FAMILY:Calibri,Arial,Microsoft JhengHei;}
.iosbotton-itemText2-len { text-align:left; width:300px;  padding-left:1px;}

